body{
  background-color: aquamarine;
  
}
#container{
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;


}
.error{
  color: aliceblue;
  font-size: 16px;
  padding: 5px 0px;
}
.input-group{
  padding: 10px 0px;
  
}
label{
  padding: 0px 5px 0px 0px;
}
button,input {
  padding: 10px;
  border: 2px solid violet;
  cursor: pointer;
}
.input-group ,input:focus{
  outline: none;

}