<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }
        button {
            padding: 10px;
            margin: 5px;
            font-size: 16px;
        }
        #display-area {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Index Page</h1>

        <button onclick="location.href='http://127.0.0.1:8000/ronin/login'"> login</button>
        <button onclick="location.href='http://127.0.0.1:8000/admin'"> admin</button> 
        <button onclick="location.href='http://127.0.0.1:8000/ronin/logout'">logout</button>
        <button onclick="location.href='http://127.0.0.1:8000/ronin/insert'">menu</button>

    </div>
    
</body>
</html>